{# src/OC/CoreBundle/Resources/views/Core/index.html.twig #}


{% extends "OCPlatformBundle::layout.html.twig" %}


{% block title %}

  Liste des annonces - {{ parent() }}

{% endblock %}


{% block ocplatform_body %}


  <h2>Liste de toutes les annonces</h2>


  <ul>

    {% for advert in listAdverts %}

      <li>

        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">

          {{ advert.title }}<br/>
            {% if advert.image is not null %}

                <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">

            {% endif %}

        </a><br/>
        {% for category in advert.categories %}
            <li>{{category.name}}{% if not loop.last %}, {% endif %}</li>
        {% endfor %}</br>
        par {{ advert.author }},

        le {{ advert.date|date('d/m/Y') }}<br/>

      </li>

        {% for advertskill in advert.advertskills %}

            <li>{{ advertskill.skill.name}} - {{ advertskill.level}}</li>
        {% endfor %}
        <hr>
    {% else %}

      <li>Pas (encore !) d'annonces</li>

    {% endfor %}

  </ul>

    <ul class="pagination">
        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


